* {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#player-turn {
    height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#board {
    display: grid;
    margin: auto;
    width: 36rem;
    height: 36rem;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    display: flex;
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}